@import './variables';
@import './index';
@import './errors';
@import './modal';
@import './form';

button,
select {
	padding: 0.3em 0.4em;
	margin-left: 1px;
	margin-top: 1px;
}

.header {
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	padding-left: 4%;
	padding-right: 4%;
}

.login {
	min-width: 280px;
	max-width: 450px;
	margin: 0 auto 100px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	border-radius: 3px;
}

.header,
.tasks {
	margin-bottom: 2em;
}

.navbar {
	background-color: $green;
	padding: 1em;
	color: white;
	font-weight: bold;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	& > * {
		color: inherit;
		text-decoration: none;
	}
	&-brand {
		font-size: 1.4em;
	}
	&-login {
		& > * {
			margin-left: 1em;
		}
		&-button {
			// can be applied for "button" and "a" elements
			display: inline-block;
			font: inherit;
			cursor: pointer;
			border: none;
			border-radius: 3px;
			color: $green;
			text-decoration: none;
			background-color: white;
			padding: 8px 16px;
			transition: background-color 0.3s;
			&:hover {
				background-color: $light-grey;
			}
		}
	}
}

.pagination {
	display: flex;
	padding-left: 0;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 50px;

	li {
		list-style: none;
	}

	button {
		outline: none;
		cursor: pointer;
		color: black;
		float: left;
		padding: 8px 16px;
		text-decoration: none;
		transition: background-color 0.3s;
		background-color: $light-grey;
		border: 1px solid #ddd;
		margin-left: 1px;
		margin-bottom: 1px;
		&.active {
			background-color: $green;
			color: white;
			border: 1px solid $green;
		}
		&:hover:not(.active):not(:disabled) {
			background-color: white;
		}
		&:disabled {
			background-color: white;
			color: $grey;
		}
	}
}

.tasks {
	&-list {
		&-item {
			margin: 10px 0;
			padding: 0 1em;
			border: 1px solid #ccc;
			box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
			border-radius: 3px;
			color: $deep-grey;
			&-content {
				display: flex;
				align-items: baseline;
				font-size: 1.2em;
				font-weight: bold;
				justify-content: space-between;
				padding: 0.5em 0;
				input[type='checkbox'] {
					margin-right: 0.5em;
				}
			}
			&-info {
				font-size: 0.8em;
				a {
					text-decoration: none;
				}
			}
			p {
				margin: 0.5em 0;
			}
			hr {
				margin: 0.2em 0 0.1em;
			}
		}
	}
}

.line-through {
	text-decoration: line-through;
}

.flex {
	display: flex;
}

.space-between {
	justify-content: space-between;
}

@media (min-width: 768px) {
	.container {
		padding-left: 8%;
		padding-right: 8%;
	}
	.header {
		padding-left: 8%;
		padding-right: 8%;
		.navbar {
			border-radius: 3px;
		}
	}
}
